<header class="main-header2">
  <img
    class="menu-icon2"
    src="./assets/icons8-menu.svg"
    alt="Menu obrázok"
    title="menu"
    onclick="onClickMenu()"
  />
  <div id="navContainer" class="nav-container2">
    <nav class="nav-bar2">
      <ul class="nav-list2">
        <li class="nav-item2">
          <a
            class="nav-link2"
            routerLink="/home"
            routerLinkActive="active-link2"
            title="Táto stránka"
          >
            DOMOV</a
          >
        </li>
        <li class="nav-item2">
          <a
            class="nav-link2"
            routerLink="/database-list"
            routerLinkActive="active-link2"
            title="Prechod na databazu"
          >
            Databaza
          </a>
        </li>

        <li class="nav-item2">
          <a
            class="nav-link2"
            routerLink="/contact"
            routerLinkActive="active-link2"
            title="Prechod na kontakt stránku"
          >
            Kontakt</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
