<section id="content" class="section-content">
  <!-- <div class="bcc-square"></div> -->
  <div class="section-container">
    <div class="section-image">
      <img src="assets/content_image/content_image.jpg" alt="Http obrázok" />
    </div>
    <div class="section-paragraph">
      <h2>Poznať pozadie je ZÁKLAD</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
        officia, rem eaque perferendis architecto accusantium fugiat atque
        quaerat, tenetur ad tempora illo dolorum maxime vero sequi cumque
        voluptatum doloribus sed?
      </p>
    </div>
  </div>
</section>
