<section class="framework-section">
  <h2>Work SMART not HARD</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, alias!
  </p>
  <div class="framework-container">
    <a href="https://reactjs.org/" title="React page">
      <img src="assets/react_logo.png" alt="React logo" />
    </a>
    <a href="https://angular.io/" title="Angular page">
      <img src="assets/angular_logo.png" alt="Angular logo" />
    </a>
    <a href="https://vuejs.org/" title="Vue page">
      <img src="assets/vue_logo.png" alt="Vue logo" />
    </a>
  </div>
</section>
