<p-toast></p-toast>
<div class="admin-page">
  <p-card>
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              (click)="addNewMember()"
              label="Pridaj člena"
              icon="pi pi-plus"
              styleClass="p-button-success"
            ></p-button>
          </div>
          <div class="toolbar-group-right">
            <p-dropdown
              #typeValue
              style="margin: 10px"
              [options]="typesOfFamilyMembers"
              [(ngModel)]="selectedTypeOfMember"
              placeholder="Vyber typ vzťahu"
              [showClear]="true"
              (onChange)="searchByType(typeValue.value)"
            ></p-dropdown>

            <input
              style="margin: 10px"
              id="float-input"
              type="text"
              pInputText
              placeholder="Meno"
              [(ngModel)]="memberName"
              (input)="searchByName()"
            />
            <input
              style="margin: 10px"
              id="float-input"
              type="text"
              pInputText
              placeholder="Priezvisko"
              [(ngModel)]="memberSurname"
              (input)="searchBySurname()"
            />
            <input
              style="margin: 10px"
              id="float-input"
              type="number"
              pInputText
              placeholder="Vek"
              [(ngModel)]="memberAge"
              (input)="searchByAge()"
            />
            <!-- <p-inputNumber
              inputId="integeronly"
              placeholder="Vek"
              [(ngModel)]="memberAge"
              (input)="searchByAge()"
            >
            </p-inputNumber> -->
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <div class="card" style="margin-top: 30px">
          <h5>Rodina</h5>
          <p-table
            [value]="familyMembers"
            [tableStyle]="{ 'min-width': '60rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id" style="width: 20%">
                  Id: <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name" style="width: 20%">
                  Meno: <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="surname" style="width: 20%">
                  Priezvisko: <p-sortIcon field="surname"></p-sortIcon>
                </th>
                <th pSortableColumn="age" style="width: 20%">
                  Vek: <p-sortIcon field="age"></p-sortIcon>
                </th>
                <th pSortableColumn="typeOfMembership" style="width: 20%">
                  Typ pribuzenstva:
                  <p-sortIcon field="typeOfMembership"></p-sortIcon>
                </th>
                <th>Action:</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-familyMember>
              <tr>
                <td>{{ familyMember.id }}</td>
                <td>{{ familyMember.name }}</td>
                <td>{{ familyMember.surname }}</td>
                <td>{{ familyMember.age }}</td>
                <td>
                  {{ familyMember.typeOfMembership }}
                </td>
                <td>
                  <p-button
                    (click)="deleteMember(familyMember)"
                    styleClass="p-button-danger m-1 "
                    icon="pi pi-trash"
                  ></p-button>
                  <p-button
                    (click)="updateFamilyMember(familyMember.id)"
                    styleClass="p-button-success m-1"
                    icon="pi pi-pencil"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
